
<div *ngIf="nodes">
    <h2><span jhiTranslate="automationServiceHubApp.nodes.detail.title">Nodes</span> {{nodes.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="automationServiceHubApp.nodes.ip">Ip</span></dt>
        <dd>
            <span>{{nodes.ip}}</span>
        </dd>
        <dt><span jhiTranslate="automationServiceHubApp.nodes.realmKey">Realm Key</span></dt>
        <dd>
            <span>{{nodes.realmKey}}</span>
        </dd>
        <dt><span jhiTranslate="automationServiceHubApp.nodes.type">Type</span></dt>
        <dd>
            <span>{{nodes.type}}</span>
        </dd>
        <dt><span jhiTranslate="automationServiceHubApp.nodes.nodeName">Node Name</span></dt>
        <dd>
            <span>{{nodes.nodeName}}</span>
        </dd>
        <dt><span jhiTranslate="automationServiceHubApp.nodes.nodeId">Node Id</span></dt>
        <dd>
            <span>{{nodes.nodeId}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'nodes/'+ nodes.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
