<div>
    <h2>
        <span jhiTranslate="automationServiceHubApp.guiRegister.home.title">Gui Registers</span>
        <button class="btn btn-primary float-right jh-create-entity create-gui-register" [routerLink]="['/', { outlets: { popup: ['gui-register-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="automationServiceHubApp.guiRegister.home.createLabel">
            Create new Gui Register
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="guiRegisters">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="automationServiceHubApp.guiRegister.type">Type</span></th>
            <th><span jhiTranslate="automationServiceHubApp.guiRegister.js_file">Js File</span></th>
            <th><span jhiTranslate="automationServiceHubApp.guiRegister.html_file">Html File</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let guiRegister of guiRegisters ;trackBy: trackId">
                <td><a [routerLink]="['../gui-register', guiRegister.id ]">{{guiRegister.id}}</a></td>
                <td>{{guiRegister.type}}</td>
                <td>{{guiRegister.js_file}}</td>
                <td>{{guiRegister.html_file}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../gui-register', guiRegister.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'gui-register/'+ guiRegister.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'gui-register/'+ guiRegister.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
