
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myNodeMetaRegisterLabel" data-translate="automationServiceHubApp.nodeMetaRegister.home.createOrEditLabel">Create or edit a Node Meta Register</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.nodeMetaRegister.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.nodeMetaRegister.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="automationServiceHubApp.nodeMetaRegister.type" for="field_type">Type</label>
            <input type="text" class="form-control" name="type" id="field_type"
                    ng-model="vm.nodeMetaRegister.type"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="automationServiceHubApp.nodeMetaRegister.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.nodeMetaRegister.description"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="automationServiceHubApp.nodeMetaRegister.iconUrl" for="field_iconUrl">Icon Url</label>
            <input type="text" class="form-control" name="iconUrl" id="field_iconUrl"
                    ng-model="vm.nodeMetaRegister.iconUrl"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="automationServiceHubApp.nodeMetaRegister.label" for="field_label">Label</label>
            <input type="text" class="form-control" name="label" id="field_label"
                    ng-model="vm.nodeMetaRegister.label"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="automationServiceHubApp.nodeMetaRegister.actionElements" for="field_actionElements">Action Elements</label>
                <textarea class="form-control" name="actionElements" id="field_actionElements"
                    ng-model="vm.nodeMetaRegister.actionElements" ></textarea>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="automationServiceHubApp.nodeMetaRegister.valueElements" for="field_valueElements">Value Elements</label>
                <textarea class="form-control" name="valueElements" id="field_valueElements"
                    ng-model="vm.nodeMetaRegister.valueElements" ></textarea>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
